@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    background-color: white;
    display: flex;
    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

main>img{
    max-width: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

main .content {
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main .content .categorie{
    letter-spacing: 4px;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    font-size: 0.8rem;
}

main .content .title{
    font-family: 'Fraunces', sans-serif;
    color: hsl(212, 21%, 14%);
    font-weight: 700;
    font-size: 2rem;
    line-height: 35px;
}

main .content>p {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    font-size: 0.8rem;
}

main .content .price {
    display: flex;
    align-items: center;
    width: 175px;
    justify-content: space-between;
}

main .content .price .current-price {
    font-family: 'Fraunces', sans-serif;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    font-size: 1.8rem;
    
}

main .content .price .old-price {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    font-size: 0.8rem;
}

main .content .add {
    border: 0;
    background-color: hsl(158, 36%, 37%);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px;
    cursor: pointer;
}

main .content .add:hover{
    background-color: #204434;
}

main .content .add>img {
    margin-right: 10px;
}

main .content .add>p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

 @media screen and (max-width:550px) {
    main {
        
        flex-direction: column;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        
        height: auto;  
    }

    main>img {
        max-width: 350px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }
    main .content {
        padding: 10px;
        width: 100%;
        max-width: 350px;
    }

    main .content>* {
        margin: 10px 0;
    }

 }